In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('ted_data.csv')
data.head()

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

In [8]:
ted = data
ted[ted['title'].str.contains('reading')]

,title,author,date,views,likes,link
857,Autofocusing reading glasses of the future,Nitish Padmanaban,November 2019,2200000,66000,https://ted.com/talks/nitish_padmanaban_autofo...
1291,What reading slowly taught me about writing,Jacqueline Woodson,April 2019,2700000,83000,https://ted.com/talks/jacqueline_woodson_what_...
1363,"Mentalism, mind reading and the art of getting...",Derren Brown,April 2019,1900000,58000,https://ted.com/talks/derren_brown_mentalism_m...
1426,The healing power of reading,Michelle Kuo,September 2018,2900000,88000,https://ted.com/talks/michelle_kuo_the_healing...
3042,My year reading a book from every country in t...,Ann Morgan,September 2015,1800000,54000,https://ted.com/talks/ann_morgan_my_year_readi...
3061,The future of reading. It's fast,Stephen Lawrence,November 2015,25000,775,https://ted.com/talks/stephen_lawrence_the_fut...
3289,"For these women, reading is a daring act",Laura Boushnak,October 2014,993000,29000,https://ted.com/talks/laura_boushnak_for_these...
3755,Mapping ideas worth spreading,Eric Berlow and Sean Gourley,February 2013,1100000,34000,https://ted.com/talks/eric_berlow_and_sean_gou...
4602,On reading the Koran,Lesley Hazleton,October 2010,2300000,71000,https://ted.com/talks/lesley_hazleton_on_readi...